table, td, th {
    border: 1px solid rgb(112, 159, 165);
  }
  table {
    margin: 1rem;
  }
  td, th {
    padding: 1rem;
  }
  thead {
    font-weight: bold;
    background-color: lightcyan;
  }
  tfoot {
    background-color: rgba(112, 159, 165, .1);
  }